* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
/* Color palette */
:root {
    --main-color: #00f3b7;
    --main-color-dark: #00c493;
    --main-color-dark-2: #069e78;
    --main-background-color: #ececec;
    --sec-background-color: white;
    --transparent-dark: rgba(0, 0, 0, 0.637);
    --material-dark: rgb(31, 31, 31);
    --text-color: white;
    --text-color-g: #575757; /* gray */
    --text-color-lg: rgb(141, 141, 141); /* light gray */
    --text-color-r: black; /* Reverse */
}
::selection {
    background: var(--main-color-dark-2);
}
/* End color palette */
/* Scroll Bar */
::-webkit-scrollbar {
    width: 7px;               
}
::-webkit-scrollbar-track {
    background: var(--material-dark);
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color-dark-2);
}
/* End Scroll Bar */
/* Nav */
header {
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: .3s;
}
nav {
    padding: 20px 30px;
    border-bottom: 1px solid #8080805b;
    background-color: var(--transparent-dark);
    color: var(--text-color);
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav li:nth-child(2){ /* ThirtyDays title */
    font-size: 23pt;
    font-weight: bolder;
}
.navItem {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: .2s;
    border: 1px solid rgba(214, 214, 214, 0.342);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
.navItem:hover {
    transition: .2s;
    transform: scale(1.05);
    border: 1px solid var(--main-color);
    font-weight: bolder;
}
/* End nav */
/* Main */
#firstConteiner {
    background-image: url(https://images.unsplash.com/photo-1648737155328-0c0012cf2f20?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470);
    background-position: center;
    background-size: cover;
    color: var(--text-color);
    height: 100vh;
}
#firstConteiner div {/*first conteiner spacing*/
    padding: 20px 20vw;
}
/* ContentConteiner */
#contentConteiner {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    background-image: linear-gradient(var(--main-color-dark-2), var(--material-dark));
}
#contentConteiner h2 {
    font-size: 25pt;
    color: var(--text-color);
    background-color: var(--transparent-dark);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--text-color-lg);
    width: 79vw;
}
.contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 50px 100px;
}
.boxItem  {
    background-color: var(--transparent-dark);
    color: var(--text-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.288);
    cursor: pointer;
    transition: .2s;
    height: 500px;
    width: 25vw;
    overflow: auto;
    overflow-x: hidden;
}
.boxItem img {
    height: 150px;
    margin: 2em 0;
}
.boxItem:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.288);
    border: 1px solid var(--main-color);
    transition: .2s;
}
.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    height: 100%;
    width: 100%;
}
/* End ContentConteiner */
.black-overlay {
    background-color: var(--transparent-dark);
}
.conteiner h1 {
    font-size: 30pt;
}
.conteiner button{
    transition: .2s;
    width: 150px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
    padding: 10px;
    border: 1px solid var(--main-color);;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
}

.conteiner button:hover{
    transition: .2s;
    background-color: var(--main-color-dark);
}
/* End Main */
/* footer */
footer {
    background-color: var(--material-dark);
    color: var(--text-color-lg);
    padding: 10px 3vw;
}
footer a {
    color: var(--text-color-lg);
    transition: .2s;
}
footer a:hover {
    color: var(--text-color);
    transition: .2s;
}
footer p:last-child{
    text-align: center;
    margin: 5px;
}
#footerTitle {
    padding: 10px 0;
    border-bottom: 1px solid var(--text-color-lg);
}
#footerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    margin: 10px 0;
}
#footerContent ul {
    list-style: none;
}
/* githubProjectBtn */
#githubProjectBtn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--text-color-lg) ;
}
#githubProjectBtn a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border: 1px solid var(--text-color-lg);
    width: 500px;
    border-radius: 10px;
}
#githubProjectBtn a:hover {
    border: 1px solid var(--main-color-dark);
}

#githubProjectBtn img{
    display: inline-block;
    width: 25px;

}


/* End githubProjectBtn */
/* End footer */