* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Color palette */
:root {
    --main-color: #00f3b7;
    --main-color-dark: #00c493;
    --sec-color: #f3005a;
    --main-background-color: #ececec;
    --sec-background-color: white;
    --text-color: white;
    --text-color-g: #575757; /* gray */
    --text-color-r: black; /* Reverse */
}
/* End color palette */

/* Nav */
header {
    position: fixed;
    width: 100%;
}
nav {
    padding: 20px 30px;
    border-bottom: 1px solid #8080805b;
    background-color: rgba(0, 0, 0, 0.473);
    color: var(--text-color);
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav li {
    display: flex;
    align-items: center;
    gap: 5px;
}
nav li:nth-child(2){ /* ThirtyDays title */
    font-size: 23pt;
    font-weight: bolder;
}
.navItem {
    transition: .2s;
    border: 1px solid rgba(214, 214, 214, 0.342);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
.navItem:hover {
    transition: .2s;
    transform: scale(1.05);
    border: 1px solid white;
}
/* End nav */
/* Main */
#firstConteiner {
    background-image: url(https://images.unsplash.com/photo-1648737155328-0c0012cf2f20?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470);
    background-position: center;
    background-size: cover;
    color: var(--text-color);
    height: 100vh;
}
/* ContentConteiner */
#contentConteiner {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    background-color: var(--main-background-color);
}
#contentConteiner h2 {
    font-size: 25pt;
    color: var(--text-color-g);
}
.contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    padding: 50px 20px;
}
.boxItem  {
    background-color: var(--sec-background-color);
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.288);
    cursor: pointer;
    transition: .2s;
}
.boxItem img {
    width: 150px;
}
.boxItem:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.288);
    transition: .2s;
}
.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding: 20px 20vw;
}
/* End ContentConteiner */
.black-overlay {
    background-color: rgba(0, 0, 0, 0.623);
}
.conteiner h1 {
    font-size: 30pt;
}
.conteiner button{
    transition: .2s;
    width: 150px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
    padding: 10px;
    border: 1px solid var(--main-color);;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
}

.conteiner button:hover{
    transition: .2s;
    background-color: var(--main-color-dark);
}
/* End Main */
/* footer */
footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--sec-background-color);
    color: var(--text-color-r);
    padding: 40px 30px;
    height: 30vh;
}
footer ul {
    list-style: none;
}

footer h1 {
    font-size: 17pt;
    border-bottom: 1px solid rgba(255, 255, 255, 0.151);
}
/* End footer */